.ProjectModule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    background: #fdfeff;
    max-width: calc(100% - 20px);
    width: 600px;
    padding: 20px 0 0;
    margin: 20px 10px 20px;
    border-radius: var(--size);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 8px 20px rgba(0, 0, 0, 0.06);
}

.ProjectModule a,
.ProjectModule li,
.ProjectModule p {
    color: var(--bs-color-text);
    font-family: Nunito;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
}

.ProjectModule > * { text-align: left; }

.ProjectModule > h1 {
    letter-spacing: 0.1rem;
    font-weight: 800;
    color: black;
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Nunito;
    padding: 0 30px;
}

.ProjectModule > p { color: rgb(46, 47, 48); font-size: 1rem; padding: 0 30px; }

.ProjectModule > ._user {
    margin-bottom: 15px;
    font-size: .8rem;
    letter-spacing: .5px;
    color: rgb(30, 31, 32);
    font-weight: 600;
}

.ProjectModule > ._user > span { font-weight: 500; }

.ProjectModule > ._description { margin-bottom: 15px; }

.ProjectModule > ._form { display: flex; flex-direction: column;  width: 100%; margin-top: 20px; }

.ProjectModule > ._form > div { 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(239, 241, 243);
    height: 50px; 
    letter-spacing: 1.5px;
    font-size: .8rem;
    border-radius: var(--size);
    width: calc(100% - 16px);
    padding-inline: 8px;
    margin-top: 4px;
    margin-bottom: 4px;

}

.ProjectModule > ._form > div > span { font-weight: 600; }

.ProjectModule > ._form > button {
    display: flex; 
    justify-content: center;
    align-items: center;
    background: rgb(39, 40, 41);
    height: 50px;
    letter-spacing: 1.5px;
    font-size: .8rem;
    width: fit-content;
    border-bottom-right-radius: var(--size);
    border-top-left-radius: var(--size);
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: auto;
    padding-inline: 30px;
    color: var(--background);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.18);
}

.ProjectModule > ._form > button > span { color: white; font-weight: 600; }