.AccessModule  ._loader {
  width: 68px;
  height: 68px;
  display: inline-block;
  position: relative;
}

.AccessModule  ._loader::after,
.AccessModule  ._loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid #6ebeff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s ease-in-out infinite;
}

.AccessModule  ._loader::after {
  border-color: #337AB7;
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
    