.HeaderModule { display: flex; flex-direction: column; align-items: center; width: 100%; background: #fff;  }

.HeaderModule > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.HeaderModule > div > a:first-child { display: flex; }

.HeaderModule > div > a:first-child > p { text-transform:uppercase; font: 800 1rem 'Audiowide', cursive; letter-spacing: 1.5px; color: black; margin-left: 35px;  }
